.item0
{
    background-image: url("https://ddragon.leagueoflegends.com/cdn/12.8.1/img/item/3047.png") !important;
    background-repeat : no-repeat;
    background-size : cover;
}
.item1
{
    background-image: url("https://ddragon.leagueoflegends.com/cdn/12.8.1/img/item/3105.png") !important;
    background-repeat : no-repeat;
    background-size : cover;
}
.item2
{
    background-image: url("https://ddragon.leagueoflegends.com/cdn/12.8.1/img/item/3916.png") !important;
    background-repeat : no-repeat;
    background-size : cover;
}
.item3
{
    background-image: url("https://ddragon.leagueoflegends.com/cdn/12.8.1/img/item/3116.png") !important;
    background-repeat : no-repeat;
    background-size : cover;
}
.item4
{
    background-image: url("https://ddragon.leagueoflegends.com/cdn/12.8.1/img/item/4637.png") !important;
    background-repeat : no-repeat;
    background-size : cover;
}
.item5
{
    background-image: url("https://ddragon.leagueoflegends.com/cdn/12.8.1/img/item/1029.png") !important;
    background-repeat : no-repeat;
    background-size : cover;
}
.item6
{
    background-image: url("https://ddragon.leagueoflegends.com/cdn/12.8.1/img/item/3364.png") !important;
    background-repeat : no-repeat;
    background-size : cover;
}
